#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 

override_dh_install:
	mkdir -p debian/htmlshots/var/lib/htmlshots
	mkdir -p debian/htmlshots/etc/htmlshots
	mkdir -p debian/htmlshots/etc/init
	cp htmlshots.js debian/htmlshots/var/lib/htmlshots
	cp debian/htmlshots.worker.upstart debian/htmlshots/etc/init/htmlshots-worker.conf
	cp conf/htmlshots.json debian/htmlshots/etc/htmlshots
	dh_install
